# MounRiver Studio / GCC Build outputs
Debug/
Release/
obj/
.mrs/

# Compiled Object and Executable files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst
*.axf

# IDE / Editor temporary files
.vscode/
*.bak
*.tmp
